# Node.js
node_modules/
npm-debug.log
package-lock.json

# Build files
dist/

# Environment Variables
.env

# Vite config temporary files generated during build.
vite.config.ts.timestamp-*.mjs

# Other Unnecessary Files
gitFunctions.js
