# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Personal project notes
project_notes.md
/project_notes

# sample data and test components
/sample_data
/alt-components

# Example redux service and slice files from previous JS project 
/frontend/src/features/examples